.log1{
    padding-left: 150px;
    padding-top: 63px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}
.zwallet{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 40px;
    color: #6379F4;
}
.login{
    background: #6379F4;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
    color: #FFFFFF;
    width: 120px;
    height: 48px;
    padding-left: 13px;
    padding-top: 11px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.signup{
    background: #FFFFFF;
    border: 2px solid #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
    color: #6379F4;
    width: 120px;
    height: 48px;
    padding-left: 16px;
    padding-top: 11px;
    padding-right: 16px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.log2{
    padding-left: 150px;
    padding-top: 141px;
    padding-right: 0px;
    display: flex;
}
.text1{
    position: absolute;
    width: 475px;
    height: 186px;
    left: 150px;
    top: 244px;
}