
.login{
    background: #6379F4;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
    color: #FFFFFF;
    min-width: 120px;
    min-height: 50px;
    padding-left: 13px;
    padding-top: 5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.signup{
    background: #FFFFFF;
    border: 2px solid #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
    color: #6379F4;
    min-width: 120px;
    min-height: 50px;
    padding-left: 16px;
    padding-top: 5px;
    padding-right: 16px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
